/* src/components/home/TopReadBooksSection.css */

.scrolling-wrapper {
  overflow: hidden;
  width: 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
}

.scrolling-track {
  display: flex;
  width: max-content;
  animation: scrollLeft 60s linear infinite;
  padding-left: 2rem;
}

.scrolling-track:hover {
  animation-play-state: paused;
}

@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.carrouselItem {
  flex-shrink: 0;
  cursor: pointer;
  width: 240px; 
  transition: z-index 0s;
  z-index: 1;
  /* padding: 0px;
  margin: 0px; */
}

.carrouselItem:hover {
  z-index: 20;
}
